<div class="container">
  <mat-card>
    <mat-card-title>Tour info</mat-card-title>
    <mat-card-content>
      <span><strong>ID: </strong>{{tour?.id}}</span>
      <span><strong>Destination: </strong>{{tour?.destination}}</span>
      <span><strong>Country: </strong>{{tour?.country}}</span>
      <span><strong>Start date: </strong>{{tour?.startDate}}</span>
      <span><strong>End date: </strong>{{tour?.endDate}}</span>
      <span><strong>Tour type: </strong>{{tour?.tourType}}</span>
      <span><strong>Capacity: </strong>{{tour?.capacity}}</span>
      <span><strong>Price: </strong>{{tour?.price}}</span>
      <span><strong>Agency: </strong>{{tour?.agency}}</span>
    </mat-card-content>
  </mat-card>
</div>
